

<h2>Dogs</h2>
<section class='dog'>
    <% dogs.forEach(function(dog) { %>
        <form method="POST" action="/breeds">
            <input hidden type="text" name="breedName" value="<%= breed %>">
            <input hidden type="text" name="apiId" value="<%= dog.id.$t %>">
            <button class="btn btn-primary" type="submit">Add to My Favorites</button>
        </form>
        <%= dog.name.$t %> <br>
        <%= dog.description.$t %> <br>
        <%= dog.sex.$t %> <br>
        <%= dog.age.$t %> <br>
        <% }) %>
    </section>
<a href='/search'>Back to Search</a>

